body {
	font-family: roboto, "sans-serif";
	color: black;
	background: darkslategrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	background-color: darkslategrey;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

#content{
	height: 100%;
	background: whitesmoke;
	width: 70%;
	margin-top: 80px; 
	padding: 40px;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
}

button {
	border: none;
	background: none;
	color: white;
	padding: 12px 24px;
	font-size: 18px;
	font-weight: bold;
	margin: 10px;
	border : 1px solid white;
	border-radius: 5px;
	cursor: pointer;
}

button:hover{
	transition: ease-in 0.5s;
	background-color: whitesmoke;
	color: black;
}

img {
	width: 28rem;
	height: 20rem;
	border-radius: 10px;

}

p {
	margin-top: 0;
	padding-right: 20px;
}

span{
	font-style: italic;
}

input {
	padding: 8px 12px;
	width: 15vw;

}

textarea{
	outline: none;
	width: 30vw;
}

input, textarea {
	margin: 5px;
	outline: none;
	border: 1px solid grey;
	border-radius: 5px;

}